TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_API_KEY=
TELEGRAM_CHAT_ID=
TELEGRAM_CHAT_LOCATION=Europe/Vilnius
TELEGRAM_SESSION_PATH=./data/nostalgija-user.session
TELEGRAM_DRY_RUN=true
NOSTALGIA_DAY_START_HOUR=2
NOSTALGIA_BONUS_MIN_REACTIONS=4
NOSTALGIA_BONUS_MIN_REPLIES=3
